<!-- addForm.html -->

<!-- "Join Team" (Post) Form -->
<div class="col-xs-12">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Avances <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">


            <p class="bg-muted1">1. Antecedentes</p>
            <div><br></div>
            <p class="bg-muted2">1.1.DEL ENCARGO</p>
            <p class="bg-muted">A interés de la compañía {{params.cia}}, S.A, este gabinete y su perito firmante, actúan para realizar un informe pericial en base a la declaración manifestada, donde indican que ha sufrido “{{params.causadeclarada}}”.</p>
            <p class="bg-muted2">1.2 CONTACTO</p>
              <p class="bg-muted">Tras recibir encargo pericial con fecha {{params.fechaencargo}}, contacto telefónicamente {{params.fechacontacto}} con  {{params.asegur}} {{params.nombre}}, donde se ha producido el siniestro y me emplaza para realizar la visita el día {{params.fechavisita}} a las {{params.horavisita}} horas.</p>
              <p class="bg-muted2">1.3 VISITA AL RIESGO</p>
              <p class="bg-muted">Confirmándose el punto anterior, en fecha y hora acordada, visito el lugar del siniestro y de la inspección ocular sobre el siniestro se determina que nos encontramos ante un siniestro cuya naturaleza es {{params.tiposiniestro}}.</p>
  <div><br></div>
            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->

            <p class="bg-muted1">2. Daños, causa y origen</p>
  <div><br></div>
            <p class="bg-muted2">2.1.DAÑOS</p>
            <p class="bg-muted">Daños en {{params.danos}}</p>
            <p class="bg-muted2">2.2.CAUSA</p>
            <p class="bg-muted">{{params.causa}}</p>
            <p class="bg-muted2">2.3.ORIGEN</p>
            <p class="bg-muted">{{params.origen}}</p>

              <div><br></div>

                  <p class="bg-muted1">3. Circunstancias</p>
  <div><br></div>
              <p class="bg-muted"> Personado en el riesgo asegurado, se trata de {{params.vivienda1}}, con buen estado de conservación y zona {{params.ubicacion}}, con los capitales contratados acordes a las preexistencias observadas, donde soy atendido por  {{params.asegur}} {{params.nombre}} , {{params.genero1}} cual me indica la ocurrencia del siniestro.</p>
              <p class="bg-muted">  {{params.circunstancias2}}</p>


  <div><br></div>


  <div><br></div>

                <p class="bg-muted1">4. Descripción del riesgo</p>
                  <div><br></div>

                  <table id="tabla1" style="width:75%" >
    <tr>
      <td  class="bg-muted6" >Riesgo</td>
      <td class="bg-muted7">{{params.vivienda}}</td>

    </tr>
    <tr>
      <td   class="bg-muted6"  >Utilidad</td>
      <td class="bg-muted7">{{params.utilidad}}</td>
    </tr>
    <tr>
      <td  class="bg-muted6"   >Emplazamiento</td>
      <td class="bg-muted7">{{params.ubicacion}}</td>
      </tr>
      <td  class="bg-muted6"   >Protecciones</td>
      <td class="bg-muted7">{{params.protecciones}}</td>
      </tr>
      <td  class="bg-muted6"   >Tipo de construcción</td>
      <td class="bg-muted7">{{params.construccion}}</td>
      </tr>
      <td  class="bg-muted6"   >Antigüedad</td>
      <td class="bg-muted7">{{params.antiguedad}} años</td>
      </tr>
      <tr>
        <td class="bg-muted6" >Estado</td>
        <td class="bg-muted7" >{{params.estado}}</td>
      </tr>
      <tr>
        <td class="bg-muted6" >Superficie</td>
        <td class="bg-muted7" >{{params.superficie}} m2</td>
      </tr>
      <tr>
        <td class="bg-muted6" >Recomendaciones</td>
        <td class="bg-muted7"></td>
      </tr>
  </table>

  <div class="row">
    <label></label>
    </div>

  <div><br></div>
<p class="bg-muted1">5. Capitales asegurados y preexistencias</p>
  <div><br></div>

  <table align = "center" class="bg-muted11" >
  <tr id="th1">
  <th class="bg-muted8"  >Garantía</th>
  <th class="bg-muted9" >Capital asegurado</th>
  <th class="bg-muted10">Capital preexistencia</th>
  </tr>
  <tr>
  <td class="bg-muted8">{{params.garantia1}}</td>
  <td class="bg-muted9">{{params.capitalAsegurado * 1000}} €</td>
  <td class="bg-muted10">Se ajusta</td>
  </tr>
  <tr>
  <td class="bg-muted8" >{{params.garantia2}}</td>
  <td class="bg-muted9">{{params.capitalAsegurado2 * 1000}} €</td>
  <td class="bg-muted10" >{{params.superficie}} m2 x {{params.valorm2}} €/m2 = {{params.superficie*params.valorm2}} €</td>
  </tr>
  </table>
  <div class="row">
    <label></label>
    </div>

  <div><br></div>
<p class="bg-muted1">6. Estudio de la cobertura y calificación del siniestro</p>
  <div><br></div>

<p class="bg-muted"> A criterio de este perito, el presente siniestro se califica {{params.cobertura}} para la garantía contratada en póliza de {{params.tiposiniestro}}, que afectan al {{params.afecta}} asegurado, como consecuencia de alteración eléctrica por {{params.alteracion}} en instalación eléctrica interna.
  </p>
  <div><br></div>

<p class="bg-muted1">7. Valoración de los daños</p>
  <div><br></div>
  <div><br></div>
  <div><br></div>
  <div><br></div>
<p class="bg-muted2">7.1 Garantía:{{params.tiposiniestro}}.{{params.garantia1}}</p>
  <div><br></div>

<p class="bg-muted1">8. Circunstancias que influyen en el cálculo de la indemnización</p>
  <div><br></div>
<p class="bg-muted">Para la garantía {{params.tiposiniestro}} de este siniestro </p>
  <div><br></div>
<p class="bg-muted"> Infraseguro: NO</p>
<p class="bg-muted"> R.Equidad:   NO</p>
<p class="bg-muted"> Franquicia:   NO</p>
  <div><br></div>

<p class="bg-muted1">9. Propuesta de indemnización</p>

  <div><br></div>
  <div><br></div>
  <div><br></div>













        </div>
    </div>
</div>
